.page-header
  %h1 Editer un objet

= render 'form'

.links
  = link_to 'Afficher', @item

  - if params[:owner_id].nil?
    = link_to 'Retour à la liste', items_path
  - else
    = link_to 'Retour à la liste', personal_items_url(get_owner(params[:owner_id]))