.page-header
  %h1 Nouvel objet

= render partial: 'form', locals: { save_and_new: true }

.links
  = link_to items_path, class: 'btn btn-default btn-xs' do
    %span.fa.fa-index
    Retour à la liste