.page-header
  %h1 Nouvel objet

= render partial: 'form', locals: { save_and_new: true }

.links
  - if @param_owner.nil?
    = link_to items_path, class: 'btn btn-default btn-xs' do
      %span.fa.fa-index
      Retour à la liste
  - else
    = link_to personal_items_url(@param_owner), class: 'btn btn-default btn-xs' do
      %span.fa.fa-index
      Retour à la liste